* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

.container{
    margin-left: 5%;
    margin-right: 5%;
}

.all-content{
    display: flex;
    flex-direction: row;
}

.figma-img{
    width: 50%;
}

.side-nav{
    background-color: khaki;
}

nav{
    width: 10%;
}

.nav-items{
    list-style-type: none;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding: 10px;
    margin-top: 50px;
}

.nav-items:hover{
    background-color: ivory;
}

.nav-list{
    padding-left: 0;
}

.about-icon{
    width: 100%;
}

.home-icon{
    width: 70%;
}

.content-wrapper{
    display: flex;
    flex-direction: row;
}

.content-holder{
    margin-left: 10px;
    background-color: rgb(228, 228, 228);
    text-align: center;

}

.img-holder{
    background-color: #ffff;
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    box-shadow: 0 0 15px rgb(131, 130, 130);
}

.img-holder p{
    color: rgb(141, 141, 141);
    font-size: 40px;
    margin: 0;
    padding: 40px;
    font-weight: bold;
}

.img-holder>img{
    width: 100%;
    text-align: center;
}


.about-img{
    padding-bottom: 10px;
    background-color: rgb(214, 214, 214);
    border-radius: 10px;
    opacity: 0.5;
}

.about-img:hover{
    background-color: khaki;
    border-radius: 10px;
}

.card-container{
    background-color: rgb(228, 228, 228);
    text-align: center;
    margin-left: 10px;
}

.card-container img{
    margin-top: 40px;
    width: 80%;
}

.page-footer{
    text-align: center;
    margin-top: 20px;
}


